.main-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock-header-container {
  text-align: center;
  margin: 1rem;
}

.real-time-size {
  font-size: 1.5rem;
}
