.information-box-container {
  margin: 0 auto;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.box-border {
  box-shadow: 2px 2px 2px 2px lightgray;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}

.title {
  font-size: 1.5rem;
}
.title-val {
  font-size: 1.5rem;
}

.information__box-infect span:nth-child(2) {
  font-weight: 600;
}

.information__box-die span:nth-child(2) {
  font-weight: 600;
}

.information__box-inspect span:nth-child(2) {
  font-weight: 600;
}

.information__box-isolation span:nth-child(2) {
  font-weight: 600;
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 1rem;
  }
  .title-val {
    font-size: 1rem;
  }
}
